* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slideShow {
  width: 50%;
  margin: 0 auto;
}

.slider-item {
  text-align: center;
  padding: 20px;
}

.slider-image {
  width: 400px;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  background-size: cover;
}

.slider-price {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.slick-dots li button:before {
  font-size: 16px;
}

@media (max-width: 768px) {
  .slider-image {
    width: 250px;
    height: 200px;
  }

  #slideShow {
    width: 80%;
  }
}
